parameters:
	ignoreErrors:
		-
			message: "#^Call to function is_array\\(\\) with MediaWiki\\\\ResourceLoader\\\\FilePath\\|string will always evaluate to false\\.$#"
			count: 1
			path: src/ResourceLoaderSCSSModule.php

		-
			message: "#^Elseif branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: src/ResourceLoaderSCSSModule.php

		-
			message: "#^Method SCSS\\\\ResourceLoaderSCSSModule\\:\\:collateStyleFilesByPosition\\(\\) should return array\\<array\\<string\\>\\> but returns array\\<string, array\\<int, MediaWiki\\\\ResourceLoader\\\\FilePath\\|string\\>\\>\\.$#"
			count: 1
			path: src/ResourceLoaderSCSSModule.php

		-
			message: "#^Offset 'position' on \\*NEVER\\* on left side of \\?\\? always exists and is always null\\.$#"
			count: 1
			path: src/ResourceLoaderSCSSModule.php

		-
			message: "#^Property SCSS\\\\ResourceLoaderSCSSModule\\:\\:\\$cacheTriggers \\(array\\<string\\>\\) does not accept mixed\\.$#"
			count: 1
			path: src/ResourceLoaderSCSSModule.php

		-
			message: "#^Property SCSS\\\\ResourceLoaderSCSSModule\\:\\:\\$paths \\(array\\<string\\>\\) does not accept mixed\\.$#"
			count: 1
			path: src/ResourceLoaderSCSSModule.php

		-
			message: "#^Property SCSS\\\\ResourceLoaderSCSSModule\\:\\:\\$variables \\(array\\<string, string\\>\\) does not accept mixed\\.$#"
			count: 1
			path: src/ResourceLoaderSCSSModule.php
